/*
場所に関係なくタグで指定
*/
body{
    margin: 0px;
}

a{
    text-decoration: none;
}


/*
ここは一番上の「ホーム」～「My本棚」の部分
*/

.flex{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headregion{
    
    margin: 0px;
    text-align: center;
    color: #fff;
    width: 135px;
    flex-wrap: wrap;
    background-color: #99CC99;
    border:  solid 1px #00CC66;
    padding: 20px 60px;
}





/*
ここはh1の「愛読者の森」の部分
*/

.booklikeforset{
    margin-top: 60px;
    clear: left;
    text-align: center;
}

/*
ジャンルの部分
*/

.genre{
    text-align: center;
    background-color: #FF9900;
    margin-left: 380px;
    margin-right: 380px;
    margin-bottom: 0px
}

.genre-contents{
    display: block;
    width: 760px;
    height: 170px;
    background-color: #FFFFCC;
    margin-left: 380px;
} 

.border-and-float{
    border: solid;
    border-radius: 3px;
    float: left;
}

.clear{
    clear: left;
}

.margin-padding-color-sf{
    
    padding: 10px 90px;
    margin-left: 20px;
    background-color: #00CCFF;
    color:#fff;
}

.margin-padding-color-myst{
    
    padding: 10px 60px;
    margin-left: 50px;
    background-color:#CC6633;
    color:#bbb;
}

.margin-padding-color-lo{
    padding: 10px 84px;
    margin-left: 50px;
    background-color:#FFCCCC;
    color:#00CCFF;
}

.margin-padding-color-ho{
    padding: 10px 76px;
    margin-left: 20px;
    background-color: #000;
    color:#f00;
}

.margin-padding-color-sh{
    padding: 10px 84px;
    margin-left: 50px;
    background-color:#CCCC00;
    color:#33FF33;
}

.margin-padding-color-fa{
    padding: 10px 51.5px;
    margin-left: 50px;
    background-color:#3333FF;
    color:#FF6600;
}
/*
本の画像とタイトルの表示
*/
.booktitle{
    float: left;
    margin-right: 50px;
}

.up{
    clear: left;
}

/*
ページ送りを中央に寄せる＆横並びに
*/
.pagination{
    text-align: center;
}

/* 
ページ送りを横並びに 
*/
.pagination li{
    display: inline-block;
    color:#fff;
    background-color: #99CC99;
}

/*
ページ送りの色変更
*/
.pagination_color{
    color: #99CC99;
    
}

/*
ページ送りの数字の幅と色変更
*/
.page-item{
    background-color: #fff;
    border:  solid 2px #99CC99;
    padding-right: 5px;
    padding-left: 5px;
}


/*
一番上の[ランキング]の部分
*/

.ranking{
    font-size:60px;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em); 
	-webkit-background-clip: text;
}


/*
ランキングの数字と「位」の設定変更
*/

.rank1_background-color{
    
    border-bottom: solid 10px #fa0;
    border-top: solid 10px #fa0;
}

.rank1{
    font-size: 100px;
    color: #fa0;
}

.ranks1{
    font-size: 80px;
    
}

.rank2_background-color{
    
    border-bottom: solid 10px #bbb;
    border-top: solid 10px #bbb;
}

.rank2{
    font-size: 80px;
    color: #bbb;
}

.ranks2{
    font-size: 60px;
}

.rank3_background-color{
    
    border-bottom: solid 10px #930;
    border-top: solid 10px #930;
}

.rank3{
    font-size: 60px;
    color: #930;
}

.ranks3{
    font-size: 40px;
}



/*
ランキングの本の画像やタイトルなどの位置を中心に
*/

.ranking_placing{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*
検索ボタンを非表示にする
*/

.searchButton{
    visibility:hidden;
}