/*
場所に関係なくタグで指定
*/
body{
    margin: 0px;
    background-color: #FFFFDf;
}

a{
    text-decoration: none;
}


/*
パソコンで表示する場合
*/

@media screen and (min-width: 1000px){

/*
ここは一番上の「ホーム」～「My本棚」の部分
*/

.flex{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headregion{
    
    margin: 0px;
    text-align: center;
    color: #fff;
    width: 135px;
    flex-wrap: wrap;
    background-color: #99CC99;
    border:  solid 1px #00CC66;
    padding: 20px 60px;
}





/*
ここはh1の「愛読者の森」の部分
*/

.booklikeforset{
    margin-top: 60px;
    clear: left;
    text-align: center;
}

/*
ジャンルの部分
*/

.genre{
    text-align: center;
    color:#808000;
    margin-bottom: 10px;
}

.genre-contents{
    border-bottom:solid #808000;
    border-top:solid #808000;
    display: block;
    height: 70px;
    margin-bottom: 15px;
    background-color: #fff;
    
} 

.float-left-comic{
    margin-top: 0px;
    float: left;
}

.background-color-comic{
    background-color: #fff;
    color: #808000;
    width: 253.2px;
    font-size: 10pt;
    text-align: center;
    padding: 24px 20px;
    transition: .3s;
    border:1px solid #808000;
    flex-wrap: wrap;
    cursor: pointer;
}

.float-left-novel{
    margin-top: 0px;
    float: left;
}

.background-color-novel{
    background-color: #fff;
    color: #808000;
    width: 189.9px;
    font-size: 10pt;
    text-align: center;
    padding: 24px 20px;
    transition: .3s;
    border:1px solid #808000;
    flex-wrap: wrap;
    cursor: pointer;
}

/*
ジャンルの下にオリーブ色の線を追加
*/

.genre-line{
    border-bottom:solid #808000;
}

/*
本の画像とタイトルの表示
*/
.booktitle{
    
    
    float: left;
    margin-left: 40px;
   
}

.up{
    clear: left;
}

/*
ページ送りを中央に寄せる＆横並びに
*/
.pagination{
    text-align: center;
}

/* 
ページ送りを横並びに 
*/
.pagination li{
    display: inline-block;
    color:#fff;
    background-color: #99CC99;
}

/*
ページ送りの色変更
*/
.pagination_color{
    color: #99CC99;
    
}

/*
ページ送りの数字の幅と色変更
*/
.page-item{
    background-color: #fff;
    border:  solid 2px #99CC99;
    padding-right: 5px;
    padding-left: 5px;
}


/*
一番上の[ランキング]の部分
*/

.ranking{
    font-size:60px;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em); 
	-webkit-background-clip: text;
	clear: left;
}


/*
ランキングの数字と「位」の設定変更
*/

.rank1_background-color{
    background-color: #fff;
    border-bottom: solid 10px #fa0;
    border-top: solid 10px #fa0;
}

.rank1{
    font-size: 100px;
    color: #fa0;
}

.ranks1{
    font-size: 80px;
    
}

.rank2_background-color{
    background-color: #fff;
    border-bottom: solid 10px #bbb;
    border-top: solid 10px #bbb;
}

.rank2{
    font-size: 80px;
    color: #bbb;
}

.ranks2{
    font-size: 60px;
}

.rank3_background-color{
    background-color: #fff;
    border-bottom: solid 10px #930;
    border-top: solid 10px #930;
}

.rank3{
    font-size: 60px;
    color: #930;
}

.ranks3{
    font-size: 40px;
}



/*
ランキングの本の画像やタイトルなどの位置を中心に
*/

.ranking_placing{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*
検索ボックスと保存ボタンの位置調整
*/

.search{
    float: left;
}

.save{
    clear: left;
}

/*
検索ボタンを非表示にする
*/

.searchButton{
    visibility:hidden;
}

/*
説明文を非表示にする
*/


/*これはランキングの説明*/
.ranking-explanations{
    float: left;
    font-size: 15px;
    background-color: #fff;
    margin-top: 10px;
    height: 70px;
    width: 320px; 
    border:solid 2px #000;
    visibility:hidden;
}

/*これは検索機能の説明*/
.search-explanations{
    float: left;
    font-size: 15px;
    background-color: #fff;
    margin-top: 20px;
    height: 110px;
    width: 320px; 
    border:solid 2px #000;
    visibility:hidden;
}


/*
説明文を表示するためにクリックするものを装飾
*/

.block{
    float: left;
    height: 20px;
    width: 115px;
    cursor: pointer;
    font-size:  12px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    background-color:#7fffd4;
    border:solid 2px #006400;
    color: #006400;
}

/*
説明文の×マークの調整
*/
.cross{
    font-size: 10px;
    border-radius: 50%;
    border: solid 1px #f00;
    cursor: pointer;
    color: #f00;
    padding-left: 3px;
    padding-right: 3px;
    
}

}



/*
スマホで表示する場合
*/

@media screen and (max-width: 999px){

/*
ここは一番上の「ホーム」～「My本棚」の部分
*/

.flex{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headregion{
    
    font-size: 20px;
    margin: 0px;
    text-align: center;
    color: #fff;
    width: 150px;
    flex-wrap: wrap;
    background-color: #99CC99;
    border:  solid 1px #00CC66;
    padding: 20px 6px;
}



/*
ここはh1の「愛読者の森」の部分
*/

.booklikeforset{
    margin-top: 60px;
    clear: left;
    text-align: center;
}

/*
ジャンルの部分
*/

.genre{
    text-align: center;
    color:#808000;
    
   
    margin-bottom: 10px;
}

.genre-contents{
    border-bottom:solid #808000;
    border-top:solid #808000;
    display: block;
    height: 70px;
    margin-bottom: 10px;
    background-color: #fff;
    
} 

.float-left-comic{
    float: left;
    margin-right: 30px;
    margin-left: 70px;
}

.float-left-novel{
    float: left;
    
    margin-left: 30px;
}

/*
ジャンルの下にオリーブ色の線を追加
*/

.genre-line{
    border-bottom:solid #808000;
}

/*
本の画像とタイトルの表示
*/
.booktitle{
    
    
    float: left;
    margin-left: 40px;
   
}

.up{
    clear: left;
}

/*
ページ送りを中央に寄せる＆横並びに
*/
.pagination{
    text-align: center;
}

/* 
ページ送りを横並びに 
*/
.pagination li{
    display: inline-block;
    color:#fff;
    background-color: #99CC99;
}

/*
ページ送りの色変更
*/
.pagination_color{
    color: #99CC99;
    
}

/*
ページ送りの数字の幅と色変更
*/
.page-item{
    background-color: #fff;
    border:  solid 2px #99CC99;
    padding-right: 5px;
    padding-left: 5px;
}


/*
一番上の[ランキング]の部分
*/

.ranking{
    font-size:60px;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em); 
	-webkit-background-clip: text;
	clear: left;
}


/*
ランキングの数字と「位」の設定変更
*/

.rank1_background-color{
    background-color: #fff;
    border-bottom: solid 10px #fa0;
    border-top: solid 10px #fa0;
}

.rank1{
    font-size: 100px;
    color: #fa0;
}

.ranks1{
    font-size: 80px;
    
}

.rank2_background-color{
    background-color: #fff;
    border-bottom: solid 10px #bbb;
    border-top: solid 10px #bbb;
}

.rank2{
    font-size: 80px;
    color: #bbb;
}

.ranks2{
    font-size: 60px;
}

.rank3_background-color{
    background-color: #fff;
    border-bottom: solid 10px #930;
    border-top: solid 10px #930;
}

.rank3{
    font-size: 60px;
    color: #930;
}

.ranks3{
    font-size: 40px;
}



/*
ランキングの本の画像やタイトルなどの位置を中心に
*/

.ranking_placing{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*
検索ボックスと保存ボタンの位置調整
*/

.search{
    float: left;
}

.save{
    clear: left;
}

/*
検索ボタンを非表示にする
*/

.searchButton{
    visibility:hidden;
}

/*
説明文を非表示にする
*/


/*これはランキングの説明*/
.ranking-explanations{
    float: left;
    font-size: 15px;
    background-color: #fff;
    margin-top: 10px;
    height: 70px;
    width: 320px; 
    border:solid 2px #000;
    visibility:hidden;
}

/*これは検索機能の説明*/
.search-explanations{
    float: left;
    font-size: 15px;
    background-color: #fff;
    margin-top: 20px;
    height: 110px;
    width: 320px; 
    border:solid 2px #000;
    visibility:hidden;
}


/*
説明文を表示するためにクリックするものを装飾
*/

.block{
    float: left;
    height: 20px;
    width: 115px;
    cursor: pointer;
    font-size:  12px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    background-color:#7fffd4;
    border:solid 2px #006400;
    color: #006400;
}

/*
説明文の×マークの調整
*/
.cross{
    font-size: 10px;
    border-radius: 50%;
    border: solid 1px #f00;
    cursor: pointer;
    color: #f00;
    padding-left: 3px;
    padding-right: 3px;
    
}

}